txgrn, .txgrn	{color: #55FF55;}	/* default: #55FF55 */
txblu, .txblu	{color: #3d87db;}	/* default: #3d87db */
txcya, .txcya	{color: #3ddbce;}	/* default: #3ddbce */
txyel, .txyel	{color: #F4E253;}	/* default: #F4E253 */
txorn, .txorn	{color: #f49652;}	/* default: #f49652 */
txred, .txred	{color: #db3e3d;}	/* default: #db3e3d */
txpnk, .txpnk	{color: #db3dce;}	/* default: #db3dce */
txdrk, .txdrk	{color: #595959;}	/* default: #595959 */
txbrt, .txbrt	{color: #fafafa;}	/* default: #fafafa */

#wind{
	background-image: initial; /* Background */
}

input,textarea,#wind{
	color: #fff;	/* Tex color */
}
