<!DOCTYPE html>
<html lang="pl">
<head>
	<!-- ###### Config and data object ###### -->
	<script>vars = <%- JSON.stringify(vars) %></script>

	<!-- ###### Document configuration ###### -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="theme-color" content="#272626">
	<meta name="google-site-verification" content="qQeOFnhYi_FvBiPv_mYzmZiWHBTapnWGLWmyE-novig" />
	<title><%= vars.hostname %></title>

	<!-- ###### Icons ###### -->
	<link rel="shortcut icon" href="favicon.ico" sizes="128x128">
	<link rel="shortcut icon" href="favicon.png" sizes="192x192">
	<link rel="shortcut icon" href="faviconb.png" sizes="512x512">

	<!-- ###### Libraries from external CDNs ###### -->
	<!-- <script rel="preload" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css"> -->

	<!-- ###### Google Fonts ###### -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet"> -->
	
	<script src="jquery-3.3.1.min.js"></script>
	<script rel="preload" src="/main.js"></script>

	<link href="fontello/css/animation.css" rel="stylesheet" type="text/css" />
	<link href="fontello/css/fontello.css" rel="stylesheet" type="text/css" />
	<link href="hljsct.css" rel="stylesheet" type="text/css" />

	<link rel="manifest" href="manifest.json">
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link href="tree.min.css" rel="stylesheet" type="text/css" />
	<script src="chart.min.js"></script>
	<script src="socket.io.slim.js"></script>
	<script src="highlight.min.js"></script>
	<link rel="stylesheet" href="atom-one-dark.min.css">


	
</head>
