txgrn, .txgrn	{color: #666;}	/* default: #55FF55 */
txblu, .txblu	{color: #666;}	/* default: #3d87db */
txcya, .txcya	{color: #666;}	/* default: #3ddbce */
txyel, .txyel	{color: #666;}	/* default: #F4E253 */
txorn, .txorn	{color: #666;}	/* default: #f49652 */
txred, .txred	{color: #666;}	/* default: #db3e3d */
txpnk, .txpnk	{color: #666;}	/* default: #db3dce */
txdrk, .txdrk	{color: #666;}	/* default: #595959 */
txbrt, .txbrt	{color: #666;}	/* default: #fafafa */

#wind{
	background-image: url("../img/2.png"); /* Background */
}

input,textarea,#wind{
	color: #000;	/* Tex color */
}
